body { 
     background-color: #ff52ff;
    font-size: 20px;
    font-family:'monaerrat', sans-serif;
}
img{width:50%;
    height:1000px;}
text{color:#fff;
text-align:center;}
title{color: #ff52ff;}
h1 {
    color: #fff;
}
.text {
    color:#fff
}
li{ color:#7fffd4

}
